
@{
    ViewBag.Title = "Reserva";
}

<h1>Reservas</h1>
<div>
    <a href="/Home/index">IR A PAGINA PRINCIPAL</a>
</div>

<h2>Revise los lujos de las Habitaciones para ver cual prefiere. Al fondo de la pagina hay un botón para ir a reservar</h2>

<h3 align="center"> Habitacion twin 2 camas </h3>
<table>
    <tr>
        <td><li> 22mts2 </li><li>Vistas diferentes</li><li>No fumadores</li><li>Conexion Wi-Fi</li><li>Secador de pelo</li><li>Con Desayuno</li></td>
        <td><li>Caja fuerte</li><li>Satelite/TV</li><li>Baño privado</li><li>Calefacción</li><li>2 camas indiv.</li></td>
        <td><p align="right">USD 74.00</p></td>
        <br>
    </tr>
</table>
<table border="2" width="300%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/standard_twin.jpg"><img src="~/Content/img/standard_twin.jpg" width="110%" /></a></td>
                <td><a href="~/Content/img/standard_twin01.jpg"><img src="~/Content/img/standard_twin01.jpg" width="110%" /></td>
                <td><a href="~/Content/img/standard_twin02.jpg"><img src="~/Content/img/standard_twin02.jpg" width="110%" /></td>
            </tr>
        </div>
</table><br><br>

<h3 align="center"> Standard Matrimonial </h3>
<table>
    <tr>
        <td><li> 22mts2 </li><li>Vistas diferentes</li><li>No fumadores</li><li>Conexion Wi-Fi</li><li>Secador de pelo</li><li>Con Desayuno</li></td>
        <td><li>Caja fuerte</li><li>Satelite/TV</li><li>Baño privado</li><li>Calefacción</li><li>1 Cama grande XL</li></td>
        <td><p align="right">USD 84.00</p></td>
        <br>
    </tr>
</table>
<table border="2" width="300%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/standard_matrimonial.jpg"><img src="~/Content/img/standard_matrimonial.jpg" width="110%" /></td>
                <td><a href="~/Content/img/standard_matrimonial01.jpg"><img src="~/Content/img/standard_matrimonial01.jpg" width="110%" /></td>
                <td><a href="~/Content/img/standard_matrimonial02.jpg"><img src="~/Content/img/standard_matrimonial02.jpg" width="110%" /></td>
            </tr>
        </div>
</table><br><br>

<h3 align="center"> Habitacion Suite </h3>
<table>
    <tr>
        <td><li> 40mts2 </li><li>Vistas diferentes</li><li>No fumadores</li><li>Conexion Wi-Fi</li><li>Secador de pelo</li><li>Con Desayuno</li></td>
        <td><li>Caja fuerte</li><li>Satelite/TV</li><li>Baño privado</li><li>Calefacción</li><li>1 cama grande XL</li><li>Sofá</li></td>
        <td><p align="right">USD 120.00</p></td>
        <br>
    </tr>
</table>
<table border="2" width="300%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/habitacion_suite.jpg"><img src="~/Content/img/habitacion_suite.jpg" width="110%" /></td>
                <td><a href="~/Content/img/habitacion_suite01.jpg"><img src="~/Content/img/habitacion_suite01.jpg" width="110%" /></td>
                <td><a href="~/Content/img/habitacion_suite03.jpg"><img src="~/Content/img/habitacion_suite02.jpg" width="110%" /></td>
            </tr>
        </div>
</table><br><br>

<h3 align="center"> Habitacion Triple </h3>
<table>
    <tr>
        <td><li> 25mts2 </li><li>Vistas diferentes</li><li>No fumadores</li><li>Conexion Wi-Fi</li><li>Secador de pelo</li><li>Con Desayuno</li></td>
        <td><li>Caja fuerte</li><li>Satelite/TV</li><li>Baño privado</li><li>Calefacción</li><li>3 camas indiv.</li></td>
        <td><p align="right">USD 124.00</p></td>
        <br>
    </tr>
</table>
<table border="2" width="300%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/habitaciontriple_01.png"><img src="~/Content/img/habitaciontriple_01.png" width="110%" /></td>
                <td><a href="~/Content/img/habitaciontriple_02.png"><img src="~/Content/img/habitaciontriple_02.png" width="110%" /></td>
                <td><a href="~/Content/img/habitaciontriple03.png"><img src="~/Content/img/habitaciontriple03.png" width="110%" /></td>
            </tr>
        </div>
    </div>
</table><br><br>
<a align="right"href="/Home/Agendar_Reserva?tiporeserva=Twin_2_Camas" class="btn btn-success"> REALIZAR RESERVA AHORA </a>


