
@{
    ViewBag.Title = "registro_huespedes";
}

<h2>registro_huespedes</h2>

<div>
    <a href="/Home/Check_in">VOLVER </a><br>
</div><br>




<h3>REGISTRO DE HUESPEDES</h3>
<table border="1">
    <tr>@Html.Raw(ViewBag.mensaje2 )</tr>
</table>