@{
    ViewBag.Title = " Acerca del Hotel";
}
<h1>@ViewBag.Title</h1>

   <h3 align="center">Bienvenido a un nuevo concepto de hotel con la mejor ubicación en el centro de Santiago.</h3>

<h3 font-family="arial">
    <p align="center">
        &nbsp;&nbsp;&nbsp;En pleno corazón financiero de la ciudad, cerca de todo. Desde el histórico centro de la ciudad,
        se abre paso un nuevo Hotel Fundador donde se mezcla la tradición de nuestros antepasados europeos
        con nuestros orígenes nativos. Su diseño ha sido recientemente creado por el afamado arquitecto nacional Germán del Sol,
        Premio Nacional de Arquitectura 2006, quien combina de manera genial, telares andinos,
        piedra pizarra en los pisos con cálidas alfombras rústicas, mucha luminosidad ,
        muebles europeos de estilo clásico replanteados en un mundo más minimalista y fresco,
        una verdadera fiesta de estilos que finalmente le dan el propio... nuestro estilo.
</h3></p>



<table border="2" width="100%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/acercadelhotel01.png"><img src="~/Content/img/acercadelhotel01.png" width="100%" /></td>
                <td><a href="~/Content/img/acercadelhotel02.png"><img src="~/Content/img/acercadelhotel02.png" width="100%" /></td>
            </tr>
        </div>
        <div class="card">
            <tr>
                <td align="center"><h3> HABITACIONES </h3></td>
                <td align="center"><h3> SALONES Y EVENTOS </h3></td>
            </tr>
        </div>
        <div class="card">
            <tr>
                <td>
                    <h3>
                        Amplios y gratos dormitorios que invitan al descanso y bienestar.
                        Sabanas blancas de algodón, mullidas almohadas y una sala de baño amplia
                        y luminosa son algunas de las características que conforman nuestros espacios de descanso.
                        Nuestros dormitorios cuentan con aire acondicionado y calefacción, teléfono,
                        WI-FI sin costo adicional, minibar y caja de seguridad.
                    </h3>
                </td>
                 <td>
                    <h3>
                        Hotel Fundador cuenta con 7 amplios salones con luz natural,
                        acondicionados para cualquier tipo de acto, Congresos o reuniones de trabajo.
                        Los Salones cuentan con altos niveles de equipamientos y servicios como son los sistemas audiovisuales,
                        o el alquiler de equipos computacionales, traducción simultánea y WI FI.
                     
                    </h3>
                </td>
            </tr>
        </div>

    </div>
</table><br><br>

<table border="2" width="100%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/el_entorno.png"><img src="~/Content/img/el_entorno.png" width="100%" /></td>
                <td><a href="~/Content/img/sauna_y_gimnasio.png"><img src="~/Content/img/sauna_y_gimnasio.png" width="100%" /></td>
            </tr>
        </div>
        <div class="card">
            <tr>
                <td align="center"><h3> EL ENTORNO </h3></td>
                <td align="center"><h3> SAUNA Y GIMNASIO </h3></td>
            </tr>
        </div>
        <div class="card">
            <tr>
                <td>
                    <h3>
                        Hotel Fundador, está situado en el “Barrio París Londres”, 
                        declarado Monumento Nacional por conservar su tradicional estilo europeo
                         de los años XX con estilos neoclásicos de importantes arquitectos nacionales.
                         fue punto de reunión de destacados artistas e intelectuales como Nemesio Antúnez y Pablo Neruda.
                        
             
                    </h3>
                </td>
                <td>
                    <h3>
                        Nuestro hotel contempla y brinda el espacio necesario para que además de estar 
                        cerca de todos los atractivos de Santiago, encuentres el momento ideal 
                        para la relajación. Con instalaciones equipadas y adecuadas a tus necesidades, 
                        Fundador es también, una opción para el relax.

                    </h3>
                </td>
            </tr>
        </div>

    </div>
</table>