
@{
    ViewBag.Title = "Fotos";
}

<h1> Galeria de Fotos </h1>

<h2 align="center"> El Hotel </h2>
<table border="2" width="100%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/foto1.png"><img src="~/Content/img/foto1.png" width="90%" /></a></td>
                <td><a href="~/Content/img/foto2.png"><img src="~/Content/img/foto2.png" width="90%" /></a></td>
                <td><a href="~/Content/img/foto3.png"><img src="~/Content/img/foto3.png" width="90%" /></a></td>
            </tr>
        </div>
        <div>
            <tr>
                <td><a href="~/Content/img/foto4.png"><img src="~/Content/img/foto4.png" width="90%" /></a></td>
                <td><a href="~/Content/img/foto5.png"><img src="~/Content/img/foto5.png" width="90%" /></a></td>
                <td><a href="~/Content/img/foto6.png"><img src="~/Content/img/foto6.png" width="90%" /></a></td>

            </tr>
        </div>
    </div>
</table><br><br>

<h2 align="center"> Exterior y Alrededores </h2>
<table border="2" width="100%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/alrededores01.png"><img src="~/Content/img/alrededores01.png" width="90%" /></a></td>
                <td><a href="~/Content/img/alrededores02.png"><img src="~/Content/img/alrededores02.png" width="90%" /></a></td>
                <td><a href="~/Content/img/alrededores03.png"><img src="~/Content/img/alrededores03.png" width="90%" /></a></td>
            </tr>
        </div>
        <div>
            <tr>
                <td><a href="~/Content/img/alrededores04.png"><img src="~/Content/img/alrededores04.png" width="90%" /></a></td>
                <td><a href="~/Content/img/alrededores05.png"><img src="~/Content/img/alrededores05.png" width="90%" /></a></td>
                <td><a href="~/Content/img/alrededores06.png"><img src="~/Content/img/alrededores06.png" width="90%" /></a></td>
            </tr>
        </div>
    </div>
</table><br><br>




