
@{
    ViewBag.Title = "Habitaciones";
}

<h1> Habitaciones del Hotel </h1>

<h2>  &nbsp;&nbsp;&nbsp;Amplios y gratos dormitorios que invitan al descanso y bienestar. 
    Sabanas blancas de algodón peruano, mullidas almohadas y una sala de baño amplia 
    y luminosa son algunas de las características que conforman nuestros espacios de descanso.
     Todos nuestros dormitorios cuentan con aire acondicionado y calefacción, teléfono, 
    WI-FI sin costo adicional, minibar y caja de seguridad.</h2>

<table border="2" width="100%">
    <div class="card-group">
        <div class="card">
            <tr>
                <td><a href="~/Content/img/habitaciontriple_estandar.png"><img src="~/Content/img/habitaciontriple_estandar.png" width="90%" /></td>
                <td><a href="~/Content/img/habitaciondoblesuperior_suite.png"><img src="~/Content/img/habitaciondoblesuperior_suite.png" width="90%" /></td>
                
            </tr>
        </div>
        <div class="card">
            <tr>
                <td><h4> Habitacion Triple Estándar </h4>
                <li> 3 personas </li>
                <li>21 Mt2</li>
                <li>3 Camas individuales</li></td>
                <td><h4> Habitacion Doble Superior Suite </h4>
                <li> 2 personas </li>
                <li> 27 Mt2</li>
                <li> 1 Cama Doble XL </li></td>
            </tr>
        </div>
        <div class="card">
            <tr>
                <td><a href="~/Content/img/habitaciondoble_estandarmatrimonial.png"><img src="~/Content/img/habitaciondoble_estandarmatrimonial.png" width="90%" /></td>
                <td><a href="~/Content/img/habitaciondoblestandar_2camas.png"><img src="~/Content/img/habitaciondoblestandar_2camas.png" width="90%" /></td>
            </tr>   
        </div>
        <div class="card">
            <tr>
                <td><h4> Habitacion doble Estándar Matrimonial </h4>
                    <li> 2 personas </li>
                    <li>22 Mt2</li>
                    <li>1 Cama Doble XL</li>
                </td>
                <td>
                    <h4> Habitacion Doble Estándar 2 Camas </h4>
                    <li> 2 personas </li>
                    <li> 33 Mt2</li>
                    <li> 2 Camas Individuales </li>
                </td>
            </tr>
        </div>
</div>
</table><br>
<p align="left"><a href="/Home/Reserva" class="btn btn-success"> IR A RESERVAS >> </a>

